---
// Main content for contact-us page
---

<div class="w-embed w-iframe">
      <!-- Google Tag Manager (noscript) -->
      
      <!-- End Google Tag Manager (noscript) -->
    </div>
    <div class="page-wrapper hidden-overflow">
      
                </div>
                <div class="top-menu-column-options w-col w-col-6">
                  <div class="split-content header-center">
                    
                      </div>
                      <div data-hover="true" data-delay="100" class="nav-link-dropdown w-dropdown">
                        <div class="nav-link w-dropdown-toggle">
                          <div class="nav-link-dropdown-text split-horizontal">Developers</div>
                        </div>
                        
                      </div>
                      <div data-hover="true" data-delay="100" class="nav-link-dropdown w-dropdown">
                        <div class="nav-link w-dropdown-toggle">
                          <div class="nav-link-dropdown-text">Resources</div>
                        </div>
                        
                      </div>
                      <div data-hover="true" data-delay="100" class="nav-link-dropdown w-dropdown">
                        <div class="nav-link w-dropdown-toggle"><div class="nav-link-dropdown-text">Company</div></div>
                        
                      </div>
                    </nav>
                  </div>
                </div>
                <div class="top-menu-column-sign w-col w-col-3">
                  <div class="split-content header-left">
                    
                    </div>
                    <a
                      data-w-id="58db7844-5919-d71b-dd74-2323ed8dfff9"
                      href="https://prod.bws.ninja/front-sign-up.html"
                      class="button-primary header-button w-button"
                      >Get started</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-content-wrapper">
        <div class="page-top-section">
          <div class="page-content container-full contact w-container">
            <div class="contact-page-content-wrapper">
              <div class="get-in-touch">
                <div class="split-content contact-content-left">
                  <h1 data-w-id="1b2bbf98-6671-ebf1-849b-0fb93cc1488f" class="title contact">Get in touch</h1>
                  <p data-w-id="1b2bbf98-6671-ebf1-849b-0fb93cc14891" class="paragraph contact">
                    Need help to start your journey?
                  </p>
                  <div class="text-block-43">
                    Whether you&#x27;re in the planning stages or ready to implement, we have the expertise to guide you
                    every step of the way. <br /><br />Fill out the form and let&#x27;s explore how blockchain can
                    revolutionize your business operations.<br /><br />You can also contact by
                    <a href="mailto:info@bws.ninja">email</a>.<br />
                  </div>
                </div>
                <div data-w-id="1b2bbf98-6671-ebf1-849b-0fb93cc1489b" class="split-content contact-content-right">
                  <div class="code-embed w-embed w-script">
                    
                    <zapier-interfaces-page-embed
                      page-id="cmbg4e0o9004t102u2n3bk5iy"
                      no-background="true"
                      style="max-width: 900px; height: 900px"
                    ></zapier-interfaces-page-embed>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-blobs-wrapper home-hero">
        <img
          src="/assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template.png"
          alt="" role="presentation"
          sizes="100vw"
          srcset="
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template-p-500.png   500w,
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template-p-800.png   800w,
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template-p-1080.png 1080w,
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template.png                            2114w
          "
          class="image blob h-1"
        /><img
          src="/assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template.png"
          alt="" role="presentation"
          sizes="100vw"
          srcset="
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template-p-500.png   500w,
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template-p-800.png   800w,
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template-p-1080.png 1080w,
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template.png                            2114w
          "
          class="image blob h-2"
        />
      </div>
      
    </div>