---
// Main content for marketplace/database-immutable page
---

<div class="container-medium container-solution">
  <div
    data-w-id="f767e2a0-46ff-2d44-6883-00c52a7ba243"
    style="
              
              -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            "
    class="solution-page-card"
  >
    <div class="solution-page-content-wrapper">
      <div class="integration-content-copy">
        <div
          data-w-id="edef65f5-6c98-6418-3d7d-79fc52c06e34"
          style="
                    
                    -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                      skew(0, 0);
                    -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  "
          class="top-content integration-card-top-content"
        >
          <div class="split-solution-header">
            <div class="image-wrapper integration-icon-wrapper">
              <div class="solution-template-icon"></div>
            </div>
            <div class="split-content integration-details">
              <div class="integration-title-wrapper">
                <h1 class="title h2-size integration-name">Blockchain Save</h1>
              </div>
              <p class="paragraph integration-about-excerpt">
                Easily and affordably store data on the blockchain while receiving a Certificate of Trust for enhanced
                transparency.
              </p>
              <div class="split-button-solution">
                <div class="split-first-buttons-solution">
                  <div class="solution-links">
                    <a
                      target="_blank" href="https://docs.bws.ninja/solutions/bws.blockchain.save"
                      class="button-primary small flex w-inline-block"
                      ><div class="text-block-24">API Docs</div>
                      &nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a
                    >
                  </div>
                </div>
                <div class="collection-list-wrapper w-dyn-list" style="margin-left: auto;">
                  <div role="list" class="collection-list w-dyn-items w-row">
                    <div role="listitem" class="collection-item w-dyn-item w-col w-col-3">
                      <div style="background-color: #af89ee" class="div-block-9">
                        <div class="link-text">Polygon</div>
                      </div>
                    </div>
                    <div role="listitem" class="collection-item w-dyn-item w-col w-col-3">
                      <div style="background-color: hsla(20, 100%, 54.02%, 1)" class="div-block-9">
                        <div class="link-text">Matchain</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          data-w-id="a285c0bb-3c46-d972-6118-2632165bf94d"
          style="
                    
                    -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                      skew(0, 0);
                    -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  "
          class="split-content integration-card-content"
        >
          <div
            data-duration-in="300"
            data-duration-out="100"
            data-current="Description"
            data-easing="ease"
            class="integration-tabs w-tabs"
          >
            <div class="integration-tabs-menu w-tab-menu">
              <a data-w-tab="Description" class="integration-tab-link w-inline-block w-tab-link w--current"
                ><div>Description</div></a
              ><a
                data-w-tab="Tab Support"
                class="integration-tab-link last w-inline-block w-condition-invisible w-tab-link"
                ><div>Contact Support</div></a
              >
            </div>
            <div class="integrations-tabs-content w-tab-content">
              <div data-w-tab="Description" class="integration-tab w-tab-pane w--tab-active">
                <div class="rich-text w-richtext">
                  <p>
                    <strong>BWS.Blockchain.Save</strong> simplifies saving data into the blockchain by abstracting blockchain
                    infrastructure complexities.
                  </p>
                  <p>
                    Effortlessly store data without having to deal with blockchain infrastructure complexities. This
                    solution is tailor-made for both individuals and enterprises eager to harness the trustworthiness of
                    blockchain, without the burden of steep learning curves or high costs.
                  </p>
                  <h3><strong>Features</strong></h3>
                  <ul role="list">
                    <li>
                      <strong>Simplified Data Storage</strong><br />Storing data on the blockchain has never been
                      easier. Just send a single API request specifying the blockchain and data you wish to save, and
                      you&#x27;re set.
                    </li>
                    <li>
                      <strong>Seamless Wallet Management<br />‍</strong>BWS takes care of wallet management for
                      blockchain transactions behind the scenes, delivering a smooth user experience without the
                      complications.
                    </li>
                    <li>
                      <strong>Automated Fee Management<br />‍</strong>Forget about puzzling over network or
                      &#x27;gas&#x27; fees; our API handles fee calculations and payments, so you can focus on your
                      data.
                    </li>
                    <li>
                      <strong>Data Immutability</strong><br />Once stored, your data is unchangeable, and we provide a
                      Certificate of Trust that adds an extra layer of transparency.
                    </li>
                  </ul>
                  <h3><strong>Benefits</strong></h3>
                  <ul role="list">
                    <li>
                      <strong>Quick and Easy Integration<br /></strong>This solution makes the blockchain accessible to
                      companies and developers regardless of their level of maturity.
                    </li>
                    <li>
                      <strong>Boost Trust and Transparency</strong><br />Leveraging public blockchains can elevate your
                      organization&#x27;s credibility, fostering greater trust and transparency.
                    </li>
                  </ul>
                  <p>Take a step into the future and safeguard what matters most: your data.</p>
                </div>
              </div>
              <div data-w-tab="Tab Support" class="integration-tab w-tab-pane">
                <div class="w-layout-hflex">
                  <div class="div-block-22">
                    <div class="code-embed-2 w-embed w-script">
                      <script type="module" src="https://interfaces.zapier.com/assets/web-components/zapier-interfaces/zapier-interfaces.esm.js"></script>
                      <zapier-interfaces-page-embed
                        page-id=""
                        no-background="true"
                        style="max-width: 900px; height: 900px"></zapier-interfaces-page-embed>
                    </div>
                  </div>
                  <div class="div-block-21">
                    <h2>Need support?</h2>
                    <p>Fill the form and we will contact you.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="inline integration-card">
            <div class="coming-soon w-condition-invisible"><div class="text-block-13">Coming Soon</div></div>
            <a
              target="_blank" href="https://docs.bws.ninja/solutions/bws.blockchain.save"
              class="button-primary small flex w-inline-block"
              ><div>Blockchain Save API Docs</div>
              &nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
