---
// Main content for marketplace/nft-gamecube page
---

<div class="container-medium container-solution">
  <div data-w-id="f767e2a0-46ff-2d44-6883-00c52a7ba243" class="solution-page-card">
    <div class="solution-page-content-wrapper">
      <div class="integration-content-copy">
        <div data-w-id="edef65f5-6c98-6418-3d7d-79fc52c06e34" class="top-content integration-card-top-content">
          <div class="split-solution-header">
            <div class="image-wrapper integration-icon-wrapper">
              <div class="solution-template-icon"></div>
            </div>
            <div class="split-content integration-details">
              <div class="integration-title-wrapper">
                <h1 class="title h2-size integration-name">Fan Game Cube</h1>
              </div>
              <p class="paragraph integration-about-excerpt">
                Engage your fans and get a new revenue stream for your Sports Club by combining NFTs and Machine
                Learning.
              </p>
              <div class="split-button-solution">
                <div class="split-first-buttons-solution">
                  <div class="solution-links">
                    <a
                      target="_blank" href="https://docs.bws.ninja/marketplace-solutions/bws.nft.gamecube"
                      class="button-primary small flex w-inline-block"
                      ><div class="text-block-24">API Docs</div>
                      <div class="button-arrow font-awesome"></div></a
                    ><a
                      href="https://www.fangamecube.com/"
                      class="button-primary small flex landing-page-link-button w-inline-block"
                      ><div class="text-block-24">Solution Website</div>
                      <div class="button-arrow"></div></a
                    >
                  </div>
                </div>
                <div class="collection-list-wrapper w-dyn-list" style="margin-left: auto;">
                  <div role="list" class="collection-list w-dyn-items w-row">
                    <div role="listitem" class="collection-item w-dyn-item w-col w-col-3">
                      <div style="background-color: hsla(20, 100%, 54.02%, 1)" class="div-block-9">
                        <div class="link-text">Matchain</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-w-id="a285c0bb-3c46-d972-6118-2632165bf94d" class="split-content integration-card-content">
          <div
            data-duration-in="300"
            data-duration-out="100"
            data-current="Description"
            data-easing="ease"
            class="integration-tabs w-tabs"
          >
            <div class="integration-tabs-menu w-tab-menu">
              <a data-w-tab="Description" class="integration-tab-link w-inline-block w-tab-link w--current"
                ><div>Description</div></a
              ><a
                data-w-tab="Tab Support"
                class="integration-tab-link last w-inline-block w-condition-invisible w-tab-link"
                ><div>Contact Support</div></a
              >
            </div>
            <div class="integrations-tabs-content w-tab-content">
              <div data-w-tab="Description" class="integration-tab w-tab-pane w--tab-active">
                <div class="rich-text w-richtext">
                  <p>
                    Fan Game Cube is a new solution by BWS where sports, NFTs, and machine learning converge to create
                    an unparalleled fan experience. Our platform adds a new revenue stream for our customers while
                    engaging their fans all over the world to own a piece of the game field and engage with their
                    favorite sports in innovative ways.
                  </p>
                  <h4>Features</h4>
                  <ul role="list">
                    <li>
                      <strong>Multiple Sport</strong><br />Fan Game Cube redefines the fan experience for virtually any
                      sport by allowing you to divide the game field into customizable &quot;cubes.&quot; Whether
                      it&#x27;s football, soccer, cricket, or even chess, our platform brings a new dimension of
                      engagement and ownership to the sports you love.
                    </li>
                    <li>
                      <strong>Game Setup<br />‍</strong>Customize the field and cube sizes to perfectly match your
                      needs, creating a tailored and immersive experience for your fans.
                    </li>
                    <li>
                      <strong>Events Definition<br />‍</strong>Define the events you want to track—goals, fouls,
                      touchdowns, and more—tailored to each sport, to enhance your game experience.
                    </li>
                    <li>
                      <strong>Event Registration<br />‍</strong>Our platform uses advanced machine learning to
                      automatically detect and register events, providing comprehensive coverage and real-time updates.
                      When video recording isn&#x27;t available, you can manually register events to maintain accuracy
                      and reliability.
                    </li>
                    <li>
                      <strong>Single Match or Full Season<br />‍</strong>Each Fan Game Cube experience can be linked to
                      one or multiple events, enabling fans to own a piece of the game for a single match or an entire
                      season.
                    </li>
                    <li>
                      <strong>Global Engagement <br />‍</strong>Fans worldwide can purchase your cubes, breaking down
                      geographical barriers and boosting global engagement.
                    </li>
                    <li>
                      <strong>No Cost<br />‍</strong>We operate on a transparent fee-on-sales model with no hidden
                      costs. You only pay a fee when your cubes are sold, making the platform accessible and
                      risk-free.
                    </li>
                  </ul>
                  <h4>Benefits</h4>
                  <ul role="list">
                    <li>
                      <strong>New Revenue Stream</strong><br />Unlock new revenue streams through flexible pricing and
                      unique offerings. Set different prices for various cubes and zones based on demand and
                      significance, creating innovative ways to monetize sports events beyond traditional ticket sales
                      and merchandise.
                    </li>
                    <li>
                      <strong>Risk-Free<br />‍</strong>Benefit from a clear fee-on-sales model with no hidden costs.
                      Contact us, and we&#x27;ll help you set up the platform risk-free..
                    </li>
                  </ul>
                  <p>Join us at the Fan Game Cube platform and be a part of the future of sports engagement!</p>
                </div>
              </div>
              <div data-w-tab="Tab Support" class="integration-tab w-tab-pane">
                <div class="w-layout-hflex">
                  <div class="div-block-22">
                    <div class="code-embed-2 w-embed w-script">
                      <script type="module" src="https://interfaces.zapier.com/assets/web-components/zapier-interfaces/zapier-interfaces.esm.js"></script>
                      <zapier-interfaces-page-embed
                        page-id=""
                        no-background="true"
                        style="max-width: 900px; height: 900px"></zapier-interfaces-page-embed>
                    </div>
                  </div>
                  <div class="div-block-21">
                    <h2>Need support?</h2>
                    <p>Fill the form and we will contact you.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="inline integration-card">
            <div class="coming-soon w-condition-invisible"><div class="text-block-13">Coming Soon</div></div>
            <a
              target="_blank" href="https://docs.bws.ninja/marketplace-solutions/bws.nft.gamecube"
              class="button-primary small flex w-inline-block"
              ><div>Fan Game Cube API Docs</div>
              <div class="button-arrow font-awesome"></div></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
