---
// Main content for marketplace/esg-credits page
---

<div class="container-medium container-solution">
  <div data-w-id="f767e2a0-46ff-2d44-6883-00c52a7ba243" class="solution-page-card">
    <div class="solution-page-content-wrapper">
      <div class="integration-content-copy">
        <div data-w-id="edef65f5-6c98-6418-3d7d-79fc52c06e34" class="top-content integration-card-top-content">
          <div class="split-solution-header">
            <div class="image-wrapper integration-icon-wrapper">
              <div class="solution-template-icon"></div>
            </div>
            <div class="split-content integration-details">
              <div class="integration-title-wrapper">
                <h1 class="title h2-size integration-name">ESG Credits</h1>
              </div>
              <p class="paragraph integration-about-excerpt">
                Assists financial institutions and system integrators in delivering environmental impact reporting to
                their digital channels.
              </p>
              <div class="split-button-solution">
                <div class="split-first-buttons-solution">
                  <div class="solution-links">
                    <a
                      target="_blank" href="https://docs.bws.ninja/marketplace-solutions/bws.esg.credits"
                      class="button-primary small flex w-inline-block"
                      ><div class="text-block-24">API Docs</div>
                      <div class="button-arrow font-awesome"></div></a
                    ><a
                      href="https://www.greenassets.io"
                      class="button-primary small flex landing-page-link-button w-inline-block"
                      ><div class="text-block-24">Solution Website</div>
                      <div class="button-arrow"></div></a
                    >
                  </div>
                </div>
                <div class="collection-list-wrapper w-dyn-list" style="margin-left: auto;">
                  <div role="list" class="collection-list w-dyn-items w-row">
                    <div role="listitem" class="collection-item w-dyn-item w-col w-col-3">
                      <div style="background-color: hsla(230.43478260869568, 100%, 72.94%, 1)" class="div-block-9">
                        <div class="link-text">Ethereum</div>
                      </div>
                    </div>
                    <div role="listitem" class="collection-item w-dyn-item w-col w-col-3">
                      <div style="background-color: #af89ee" class="div-block-9">
                        <div class="link-text">Polygon</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-w-id="a285c0bb-3c46-d972-6118-2632165bf94d" class="split-content integration-card-content">
          <div
            data-duration-in="300"
            data-duration-out="100"
            data-current="Description"
            data-easing="ease"
            class="integration-tabs w-tabs"
          >
            <div class="integration-tabs-menu w-tab-menu">
              <a data-w-tab="Description" class="integration-tab-link w-inline-block w-tab-link w--current"
                ><div>Description</div></a
              ><a
                data-w-tab="Tab Support"
                class="integration-tab-link last w-inline-block w-condition-invisible w-tab-link"
                ><div>Contact Support</div></a
              >
            </div>
            <div class="integrations-tabs-content w-tab-content">
              <div data-w-tab="Description" class="integration-tab w-tab-pane w--tab-active">
                <div class="rich-text w-richtext">
                  <p>
                    Introducing a cutting-edge API solution explicitly tailored for forward-thinking financial
                    institutions that aim to swiftly integrate Environmental, Social, and Governance (ESG) impact
                    benefits into their digital platforms.
                  </p>
                  <p>
                    This unique solution facilitates quantifying and displaying the positive impacts of investments made
                    in green assets and sustainable projects by your customers and investors.
                  </p>
                  <h3><strong>Features</strong></h3>
                  <ul role="list">
                    <li>
                      <strong>Standard Frameworks</strong><br />BWS.ESG.Credits solution provides flexibility in impact
                      reporting by adhering to recognized frameworks such as the International Capital Market
                      Association (ICMA) standard or any chosen taxonomy.
                    </li>
                    <li>
                      <strong>Granularity</strong><br />In addition, it accommodates two tiers of impact categories and
                      indicators and supports any impact unit. This flexibility ensures that your reporting can be as
                      granular and specific as required.
                    </li>
                    <li>
                      <strong>Custom Profiles</strong><br />The API calculates impact values on an annual basis or
                      according to the established term of the financial instrument. The basis for these calculations is
                      your green framework or the &quot;impact profile&quot; of your green project portfolio,
                      reinforcing the authenticity and transparency of your reporting.
                    </li>
                  </ul>
                  <h3><strong>Benefits</strong></h3>
                  <ul role="list">
                    <li>
                      <strong>Flexibility</strong><br />To align your initiatives with global sustainability goals,
                      Sustainable Development Goals (SDGs) classifications can be associated with your chosen taxonomy
                      impact categories. The API also supports any combination of currencies, catering to the diverse
                      needs of global financial institutions.
                    </li>
                    <li>
                      <strong>Trust and Transparency</strong><br />To demonstrate your unwavering commitment to ESG
                      principles, the API stores your framework&#x27;s ESG impact profile on the blockchain to guarantee
                      data integrity and help build trust with your stakeholders.
                    </li>
                    <li>
                      <strong>Reduced Operational Cost</strong><br />This API solution offers a comprehensive,
                      customizable, and efficient way to enhance your ESG reporting, offering you an advantage in the
                      increasingly important realm of sustainable finance.
                    </li>
                  </ul>
                  <p>
                    By harnessing the power of this innovative API solution, with its comprehensive information model
                    and advanced calculation methodologies, enable your development team or system integrator to
                    expedite the construction of your ESG impact reporting system. Typical use cases include:
                  </p>
                  <ol role="list">
                    <li>
                      Automatically generate reports for investors that detail the ESG impact benefits of their
                      investments/deposits in green products.
                    </li>
                    <li>
                      Enhance digital account information with details of the customer’s investment-specific ESG
                      benefits.
                    </li>
                    <li>
                      Offer customers immutable ESG certificates as proof of their efforts to offset their negative
                      impact.
                    </li>
                    <li>
                      Provide sales staff with tools to calculate ESG benefits from various proposed investment levels.
                    </li>
                    <li>
                      Enable potential investors to explore the ESG impact benefits of various investments through
                      self-service functions.
                    </li>
                    <li>
                      Offer guidance on the investment portfolio mix required to meet each customer’s desired impact
                      benefit profile.
                    </li>
                    <li>
                      Publish green frameworks in an immutable format to demonstrate social responsibility commitment
                      and trust.<br />
                    </li>
                  </ol>
                </div>
              </div>
              <div data-w-tab="Tab Support" class="integration-tab w-tab-pane">
                <div class="w-layout-hflex">
                  <div class="div-block-22">
                    <div class="code-embed-2 w-embed w-script">
                      <script type="module" src="https://interfaces.zapier.com/assets/web-components/zapier-interfaces/zapier-interfaces.esm.js"></script>
                      <zapier-interfaces-page-embed
                        page-id=""
                        no-background="true"
                        style="max-width: 900px; height: 900px"></zapier-interfaces-page-embed>
                    </div>
                  </div>
                  <div class="div-block-21">
                    <h2>Need support?</h2>
                    <p>Fill the form and we will contact you.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="inline integration-card">
            <div class="coming-soon w-condition-invisible"><div class="text-block-13">Coming Soon</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
