---
// Main content for privacy-policy page
---

<div class="w-embed w-iframe">
  <!-- Google Tag Manager (noscript) -->

  <!-- End Google Tag Manager (noscript) -->
</div>
<div class="page-wrapper hidden-overflow"></div>
<div class="top-menu-column-options w-col w-col-6">
  <div class="split-content header-center"></div>
  <div data-hover="true" data-delay="100" class="nav-link-dropdown w-dropdown">
    <div class="nav-link w-dropdown-toggle">
      <div class="nav-link-dropdown-text split-horizontal">Developers</div>
    </div>
  </div>
  <div data-hover="true" data-delay="100" class="nav-link-dropdown w-dropdown">
    <div class="nav-link w-dropdown-toggle">
      <div class="nav-link-dropdown-text">Resources</div>
    </div>
  </div>
  <div data-hover="true" data-delay="100" class="nav-link-dropdown w-dropdown">
    <div class="nav-link w-dropdown-toggle"><div class="nav-link-dropdown-text">Company</div></div>
  </div>
</div>

<div class="top-menu-column-sign w-col w-col-3">
  <div class="split-content header-left"></div>
  <a
    data-w-id="58db7844-5919-d71b-dd74-2323ed8dfff9"
    href="https://prod.bws.ninja/front-sign-up.html"
    class="button-primary header-button w-button">Get started</a
  >
</div>

<div class="page-content-wrapper">
  <div class="page-top-section">
    <div class="page-content w-container">
      <div class="page-content-wrapper">
        <h1>Policy Document</h1>
        <div class="w-richtext">
          <h2>Introduction</h2>
          <p>
            Welcome to Blockchain Web Services Inc.&#x27;s policy document. <br /><br />We provide Software as a Service
            (SaaS) Application Programming Interface (API) solutions focusing on blockchain technology. Please read this
            document carefully to understand our policies and practices regarding your information and how we handle it.
          </p>
          <h2>Content Responsibility</h2>
          <p>
            We take utmost care in developing and maintaining the content that is provided through our API services.
            Nevertheless, we cannot guarantee the accuracy, completeness, or quality of the content. While we are
            accountable for the content we publish as per U.S. laws, we are not required to monitor third-party
            information for any indications of illegal activities.
          </p>
          <h2>Data Protection &amp; Privacy</h2>
          <p>
            We are committed to safeguarding the privacy and security of your data. All data transactions are encrypted
            and stored on secure servers. Please refer to our Privacy Policy for a detailed explanation of how we
            collect, use, and safeguard your information.
          </p>
          <h2>API Use &amp; Access</h2>
          <p>
            You are granted a non-exclusive, non-transferable, limited right to access our APIs. Unauthorized access,
            distribution, or replication of our API and its content is strictly prohibited and may result in termination
            of service as well as legal action.
          </p>
          <h2>Compliance &amp; Regulations</h2>
          <p>
            Being a blockchain company operating in the United States, we adhere to all federal and state regulations
            concerning blockchain technology and financial transactions, including but not limited to Anti-Money
            Laundering (AML) and Know Your Customer (KYC) guidelines.
          </p>
          <h2>Intellectual Property</h2>
          <p>
            All intellectual property rights related to our API, website, and any other services provided are owned by
            Blockchain Web Services Inc. and are protected by copyright laws. No part of our services may be copied,
            modified, or distributed without explicit written permission from Blockchain Web Services Inc.
          </p>
          <h2>Third-Party Services</h2>
          <p>
            Our API may integrate with third-party services. We are not responsible for any third-party content,
            policies, or actions. Users are encouraged to read the terms and conditions and privacy policies of
            third-party services when integrated.
          </p>
          <h2>Service Level Agreement (SLA)</h2>
          <p>
            We aim to provide 99.9% uptime for our API services. However, we are not liable for any losses incurred due
            to service interruptions, which may be caused by factors beyond our control. Please refer to our SLA for
            more information.
          </p>
          <h2>Indemnification</h2>
          <p>
            You agree to indemnify, defend, and hold harmless Blockchain Web Services Inc., its officers, directors,
            employees, and agents from and against any claims, actions, or demands arising out of or related to your use
            of our services.
          </p>
          <h2>Amendments</h2>
          <p>
            We reserve the right to amend this policy document at any time. Updated versions will be posted on our
            website, and the date of the latest revision will be stated.
          </p>
          <h2>Contact Us</h2>
          <p>
            For any queries regarding this policy document, please contact us at
            <a href="mailto:info@bws.ninja">info@bws.ninja</a>.
          </p>
          <p><em>Last updated: 16-Sept-2023</em></p>
          <p>
            By using our API services, you agree to abide by the terms and conditions outlined in this policy document.
          </p>
          <p>‍</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-blobs-wrapper home-hero">
  <img
    src="/assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template.png"
    alt="Decorative background pattern"
    sizes="(max-width: 1919px) 100vw, 76vw"
    srcset="
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template-p-500.png   500w,
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template-p-800.png   800w,
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template-p-1080.png 1080w,
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template.png                            2114w
          "
    class="image blob h-1"
  /><img
    src="/assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template.png"
    alt="Decorative background pattern"
    sizes="(max-width: 1919px) 100vw, (max-width: 2895px) 73vw, 2114px"
    srcset="
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template-p-500.png   500w,
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template-p-800.png   800w,
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template-p-1080.png 1080w,
            /assets/images/6474d385cfec71cb21a92251/6474d385cfec71cb21a922e3_blob-techplus-x-template.png                            2114w
          "
    class="image blob h-2"
  />
</div>
