---
// Main content for resources page
---

<main class="main-content">
      <div class="container">
        <div class="content-wrapper">
          <div class="content-area"></div>
        </div>
      </div>
    </main>