<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
  <div class="navigation-wrap w-container">
    <a href="/" aria-current="page" class="logo-link w-nav-brand">
      <img src="/assets/images/logo-256x256.png" 
           loading="lazy" width="150" alt="BWS Logo" class="logo-image"/>
    </a>
    <nav role="navigation" class="navigation-items w-nav-menu">
      {% for item in navigation.main %}
        {% if item.children %}
          <div data-hover="true" data-delay="0" class="navigation-item w-dropdown">
            <div class="navigation-link w-dropdown-toggle">
              <div class="navigation-link-text">{{ item.title }}</div>
              <div class="icon w-icon-dropdown-toggle"></div>
            </div>
            <nav class="navigation-dropdown w-dropdown-list">
              {% for child in item.children %}
              <a href="{{ child.url }}" class="navigation-dropdown-link w-dropdown-link">{{ child.title }}</a>
              {% endfor %}
            </nav>
          </div>
        {% else %}
          <a href="{{ item.url }}" class="navigation-link w-nav-link">{{ item.title }}</a>
        {% endif %}
      {% endfor %}
      <a href="/contact-us.html" class="button-primary w-button">Get in Touch</a>
    </nav>
    <div class="menu-button w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>